<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список задач для {{ user.username }}</title>
    {% load static %}  <!-- Загрузка библиотеки статических файлов -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>time_tracker</h1>
    </header>

    <div class="container">
        <h2>Список задач для {{ user.username }}</h2>
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if user.is_authenticated %}
        <form method="post" action="{% url 'add_task' %}">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Название задачи" required>
            
            <select name="category_time" required>
                <option value="" disabled selected>Выберите категорию времени</option>
                {% for category in category_times %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            
            <select name="category_activity" required>
                <option value="" disabled selected>Выберите категорию активности</option>
                {% for category in category_activities %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            
            <button type="submit">Добавить задачу</button>
        </form>

        <ul>
            {% for task in tasks %}
                <li>
                    {{ task.title }} 
                    {% if task.started_at %} (Начато: {{ task.started_at }}) {% endif %}
                    {% if task.finished_at %} (Завершено: {{ task.finished_at }}, Время: {{ task.duration }}) {% endif %}
                    {% if task.category_time %} (Категория времени: {{ task.category_time.name }}) {% endif %}
                    {% if task.category_activity %} (Категория активности: {{ task.category_activity.name }}) {% endif %}
                    <a href="{% url 'delete_task' task.id %}">Удалить</a>
                    {% if not task.started_at %}
                        <a href="{% url 'start_task' task.id %}">Начать</a>
                    {% endif %}
                    {% if task.started_at and not task.finished_at %}
                        <a href="{% url 'finish_task' task.id %}">Завершить</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
        {% else %}
        <p>Пожалуйста, <a href="{% url 'login' %}">войдите</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a>, чтобы увидеть ваши задачи.</p>
        {% endif %}
    </div>

    <footer>
        <p>Обратная связь: xamelzis@gmail.com</p>
    </footer>
</body>
</html>
